body{
    font-family: 'Roboto';
    background-color: azure ;
    margin: 30px 50px;
    padding: 10px;
   
}

/* #container{
    background-color: darksalmon;
    display: flex;
    justify-content: center;
} */

.btn{
    background-color: #FFCDB2;
    color: #fff;
    /* width: 50px; */
    /* height: 50px; */
    border-radius: 50%;
    border: none;
    display: inline-flex;
    padding: 0;
    outline: none;  
    padding: 18px 13px; /* Some padding */
    cursor: pointer;
}

.btn:hover{
    background-color: #fac6aa;
}

.overlay{
    background-color: rgba( 0,0,0,0.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.offset-popup{
    background-color: #fff;
    border-radius: 50px;
    width: 300px;
    height: 200px;
    text-align: center;
    padding: 20px;
}


#ingresar-dato{
    padding-bottom: 25px;
}

#offset-input{
    background-color: #FBFAFA;
    border: none;
    border-radius: 100px;
    height: 50px;
    width: 100px;
    text-align: center;
}

input{
    background-color: #E5989B;
    border: none;
    border-radius: 100px;
    height: 50px;
    width: 200px;
    text-align: center;
    margin-left: 50px;
}

input:focus{
    outline: none;
}

#encoded{
    margin-top: 30px;
    background-color: #fff;
    border-radius: 50px;
    width: 300px;
    height: 200px;
    margin: 30px 50px;
    /* text-align: center; */
    padding: 40px;
}



