* {
  padding: 0;
  margin: 0;
}

body {
  padding: 50px;
  box-sizing: border-box;
  font-family: "Roboto";
}

/* Fonts icons */

@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?qms554");
  src: url("fonts/icomoon.eot?qms554#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?qms554") format("truetype"),
    url("fonts/icomoon.woff?qms554") format("woff"),
    url("fonts/icomoon.svg?qms554#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-to-encoded-icon-bigger-este:before {
  content: "\e900";
}
.icon-to-decoded-icon-bigger:before {
  content: "\e901";
}
.icon-a-letter-icon:before {
  content: "\e902";
}
.icon-broom-icon:before {
  content: "\e903";
}
.icon-chinese-letter-icon:before {
  content: "\e904";
}
.icon-padlock-icon:before {
  content: "\e905";
}
.icon-to-decoded-icon:before {
  content: "\e906";
}
.icon-to-encoded-icon:before {
  content: "\e907";
}

.container {
  height: 350px;
  width: 530px;
  margin: 100px auto 20px;
  position: relative;
}

.upper-window-main {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 100;
}

.lower-window-main {
  height: 40%;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 200;
}

.div-back-tab {
  background-color: #ffb4a2;
  height: 100px;
  position: absolute;
  left: 0;
  z-index: 250;
  box-sizing: border-box;
}

.div-front-tab {
  background-color: #ffb4a2;
  height: 100px;
  position: absolute;
  left: 0;
  z-index: 250;
  box-sizing: border-box;
}

.sub-window-upper {
  background-color: #b5838d;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 300;
  box-sizing: border-box;
  padding: 25px 20px;
}

.sub-window-lower {
  background-color: #e5989b;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 300;
  box-sizing: border-box;
  padding: 25px 20px;
}

.offset-input-element {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  background-color: #fbfafa;
  border-radius: 50px;
  position: absolute;
  text-align: center;
  padding-left: 45px;
}

/* Estilos de diseño */
.rounded-square {
  border-radius: 30px;
}

/* Estilos de los botones */
.btn-circle {
  background: #ffcdb2;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  text-decoration: none;
}

.icon {
  color: #000;
}

.btn-circle .icon span {
  font-size: 20px;
}

/* Distancia entre los botones */
.option-button {
  margin: 0 20px;
}

/* Elementos de cada Ventana */
.identifier-btn-section {
  position: absolute;
  top: -20px;
  right: 15px;
  z-index: 350;
}

.tab {
  top: -45px;
  padding: 15px 20px;
  width: 30%;
}

/* Textarea Estilos */
.text-area {
  resize: none;
  outline: none;
  border: none;
  background: none;
  padding: 10px;
  width: 100%;
  padding: 10px;
  color: #000;
  font-family: "Roboto";
  font-size: 14px;
  height: 100%;
}

#texto {
  height: 45%;
}

#texto::placeholder {
  color: #000;
  font-family: "Roboto";
  font-weight: 300;
  font-style: italic;
  line-height: initial;
  font-size: 14px;
}

/* Seccion Inferior de Botones (diversas opciones) */
#buttons-section {
  margin: 10px auto;
  width: 350px;
  justify-content: center;
  width: 100%;
}

/* Botón + input del offset */
#offset-container {
  position: relative;
  width: 90px;
  z-index: 300;
}

.input-btn {
  position: absolute;
  z-index: 400;
}
